@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap');


/* Change the background color and text color of highlighted text */
::selection {
    background-color: rgb(0, 180, 168);
    /* Background color */
    color: white;
    /* Text color */
}


/* All */
* {
    font-family: "Noto Kufi Arabic", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-weight: 400;
    direction: rtl;
}


/* Body */
body {
    opacity: 0;
    background: rgb(215, 232, 244);
    color: black;
    margin-bottom: 200px;
    transition: all 0.5s ease-in-out;
}






/* Special Effects */
.black_overlay {
    z-index: 999;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    /* Black with 70% opacity */
    width: 100vw;
    /* Full width of the viewport */
    height: 100vh;
    /* Full height of the viewport */
    position: fixed;
    top: 0;
    left: 0;
    transition: opacity 0.1s ease-in-out;
}






#voucher_pdf_file_structure_section h2{
    margin-bottom: 5000px;
}







/* Create new voucher inputs section */
#create_new_voucher_section {
    background: rgb(215, 232, 244);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section_title_text_div {
    width: 100%;
}

.section_title_text_class {
    background: rgb(131, 0, 148);
    color: white;
    width: 100%;
    font-size: 3vw;
    padding: 10px 0;
    text-align: center;
    border: 0.5px solid black;
    line-height: 1.5;
}

.voucher_info_input_div {
    background: rgb(171, 190, 204);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.voucher_info_input_div input {
    direction: ltr;
    width: 85vw;
    font-size: 2.5vw;
    margin: 5px 0;
    text-align: center;
    border-radius: 7px;
    padding: 5px;
    height: 70px;
    box-sizing: border-box;
    border: 0.5px solid black;
}

/* Prevent interaction with the date input's text field */
input[type="date"][readonly] {
    pointer-events: none;
    background: #e9ecef;
    cursor: default;
}

/* Ensure date picker icon is clickable */
input[type="date"]::-webkit-calendar-picker-indicator {
    pointer-events: auto;
}

/* Styling for placeholder text */
.voucher_info_input_div input::placeholder {
    color: #919191;
    font-size: 2vw;
    text-align: center;
}

.submit_voucher_data_div {
    direction: ltr;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.submit_voucher_data_div button {
    background: white;
    font-size: 3vw;
    padding: 1px 30px;
    cursor: pointer;
    border-radius: 7px;
    border: 0.5px solid black;
    transition: all 0.2s ease-in-out;
}

.submit_voucher_data_div ion-icon {
    color: white;
    font-size: 4vmax;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
    border: 0.5px solid black;
    transition: all 0.2s ease-in-out;
}



/* Styling for separating two insert package data to pdf icons */
.two_icons_insert_data_package_pdf_div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}












/* Company input */
/* Company names dropdown container */
.searchable_names_dropdown_class {
    z-index: 1000;
    background: rgb(0, 93, 163);
    width: 100%;
    min-height: 50vh;
    max-height: 50vh;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transform: translateY(100%);
    transition: transform 0.1s ease-in-out, height 0.1s ease-in-out;
}

/* Visible state for the dropdown */
.searchable_names_dropdown_class.show {
    transform: translateY(0);
}

/* Search bar container */
.search_bar_div_class {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
}

/* Search bar input */
.search_bar_div_class input {
    width: 100%;
    font-size: 2vw;
    padding: 10px;
    text-align: center;
    border: none;
    outline: none;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}

/* Company name options */
.company_names_options_dropdown_class {
    background: rgb(0, 93, 163);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    box-sizing: border-box;
}

/* Style for the h3 elements */
.company_names_options_dropdown_class h3 {
    direction: ltr;
    background: white;
    width: fit-content;
    font-size: 2.5vw;
    margin: 5px;
    padding: 0 10px;
    border-radius: 3px;
    box-shadow: 0 0 0.5px 0.5px black;
    text-align: center;
    cursor: pointer;
}

























/* Inserted pdf file data elements */
#voucher_pdf_file_structure_section{
    background: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#voucher_pdf_file_structure_section *{
    direction: ltr;
}

#voucher_pdf_file_structure_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#voucher_pdf_file_structure_div *{
    direction: ltr;
}

#voucher_company_logo_div{
    display: flex;
    justify-content: center;
    align-items: center;
}

#voucher_company_logo_div img{
    width: 35vw;
    border-radius: 7px;
}



.voucher_details_title_div{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.voucher_details_title_div h5{
    background: rgb(215, 232, 244);
    width: 100%;
    font-size: 2.5vw;
    font-weight: bolder;
    padding: 20px 0 10px 100px;
    border: 0.5px solid black;
}

#voucher_booking_details_div{
    background: rgb(108, 125, 136);
    width: 65%;
    margin: 50px 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-top: 0.5px solid black;
    border-right: 0.5px solid black;
    border-left: 0.5px solid black;
}

.booking_detail_div {
    background: white;
    width: 100%;
    padding: 0 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 0.5px solid black;
}

.booking_detail_div *{
    font-size: 2.5vw;
    padding: 5px;
}

.booking_detail_div h6{
    font-weight: 600;
}




#voucher_customer_details_div{
    background: rgb(108, 125, 136);
    width: 60%;
    margin: 50px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
}

#voucher_customer_details_div h5{
    font-size: 2.5vw;
}




#voucher_property_image_div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#voucher_property_image_div img{
    width: 25vw;
    border-radius: 7px;
}

#voucher_property_image_div h6{
    font-size: 2.5vw;
    font-weight: bolder;
}



















/* Download pdf file */
#export_package_pdf_div_id {
    width: 100%;
}

#export_package_pdf_div_id button {
    width: 100%;
    font-size: 3vw;
    text-align: center;
    cursor: pointer;
    border: 0.5px solid black;
    border-radius: 0;
    box-shadow: 0 0 0 black;
    transition: all 0.2s ease-in-out;
}










/* Name pdf file box */
#name_pdf_file_div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 5px black;
    border: 1px solid black;
    transform: translate(-50%, -100vh);
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.5s ease;
}

#name_pdf_file_div span {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 4vw;
    color: #888;
}

#name_pdf_file_div input{
    direction: ltr;
    width: 90%;
    font-size: 3vw;
    text-align: center;
    border: 1px solid black;
    border-radius: 7px;
}

#name_pdf_file_div button{
    font-size: 2.5vw;
    margin-top: 10px;
    padding: 1px 10px;
    cursor: pointer;
    border-radius: 7px;
    border: 1px solid black;
    transition: all 0.1s ease-in-out;
}

















/* Media Queries */
/* 1250px */
@media(max-width:1250px) {}

/* 1040px */
@media(max-width:1040px) {}

/* 950px */
@media(max-width:950px) {
    .section_title_text_class {
        font-size: 4vw;
        padding: 8px 14px;
    }

    .voucher_info_input_div {
        padding: 5px;
    }

    .voucher_info_input_div input {
        width: 90vw;
        font-size: 3.7vw;
        margin: 3px 0;
        padding: 3px;
        height: 60px;
    }

    .voucher_info_input_div input::placeholder {
        font-size: 4.2vw;
    }

    .company_names_options_dropdown_class {
        padding: 5px 0;
    }

    .company_names_options_dropdown_class h3 {
        font-size: 4vw;
        padding: 5px 9px;
    }
    
    .submit_voucher_data_div button {
        font-size: 4vw;
        padding: 1px 15px;
    }

    #export_package_pdf_div_id button {
        font-size: 4vw;
    }

    #name_pdf_file_div span {
        font-size: 6vw;
    }
    
    #name_pdf_file_div input{
        font-size: 4vw;
    }
    
    #name_pdf_file_div button{
        font-size: 3.5vw;
    }







    /* Inserted pdf voucher data */
    #voucher_company_logo_div img{
        width: 38vw;
    }

    .voucher_details_title_div h5{
        font-size: 3vw;
        padding: 15px 0 5px 60px;
    }

    #voucher_booking_details_div{
        width: 65%;
        margin-bottom: 80px;
    }

    .booking_detail_div *{
        font-size: 3vw;
    }

    #voucher_customer_details_div{
        width: 65%;
    }

    #voucher_customer_details_div h5{
        font-size: 3vw;
    }

    #voucher_property_image_div img{
        width: 28vw;
    }
    
    #voucher_property_image_div h6{
        font-size: 3vw;
    }





    .search_bar_div_class {
        padding: 5px;
    }

    .search_bar_div_class input {
        font-size: 3vw;
        padding: 5px;
    }
}

/* 850px */
@media(max-width:850px) {

}

/* 760px */
@media(max-width:760px) {

}

/* 650px */
@media(max-width:650px) {
    .section_title_text_class {
        font-size: 5vw;
        padding: 8px;
    }

    .voucher_info_input_div {
        padding: 3px;
    }

    .voucher_info_input_div input {
        width: 95vw;
        font-size: 4.2vw;
        margin: 2px 0;
        padding: 2px;
        height: 50px;
    }

    .voucher_info_input_div input::placeholder {
        font-size: 5.2vw;
    }

    .company_names_options_dropdown_class {
        padding: 3px 0;
    }

    .company_names_options_dropdown_class h3 {
        font-size: 5vw;
        margin: 4px;
        padding: 4px;
    }

    .submit_voucher_data_div button {
        font-size: 5vw;
        padding: 1px 10px;
    }

    #export_package_pdf_div_id button {
        font-size: 5vw;
    }


    


    /* Inserted pdf voucher data */
    #voucher_company_logo_div img{
        width: 41vw;
    }

    .voucher_details_title_div h5{
        font-size: 3.5vw;
        padding: 15px 0 5px 40px;
    }

    #voucher_booking_details_div{
        width: 80%;
        margin-bottom: 60px;
    }

    .booking_detail_div *{
        font-size: 3.5vw;
    }

    #voucher_customer_details_div{
        width: 70%;
    }

    #voucher_customer_details_div h5{
        font-size: 3.5vw;
    }

    #voucher_property_image_div img{
        width: 31vw;
    }
    
    #voucher_property_image_div h6{
        font-size: 3.5vw;
    }





    .search_bar_div_class {
        padding: 4px;
    }

    .search_bar_div_class input {
        font-size: 4vw;
        padding: 4px;
    }
}


/* 580px */
@media(max-width:580px) {
    #name_pdf_file_div span {
        font-size: 7vw;
    }
    
    #name_pdf_file_div input{
        font-size: 5vw;
    }
    
    #name_pdf_file_div button{
        font-size: 4.5vw;
        padding: 1px 5px;
    }
}

/* 500px */
@media(max-width:500px) {

}

/* 400px */
@media(max-width:400px) {
    .section_title_text_class {
        font-size: 6vw;
        padding: 6px;
    }

    .voucher_info_input_div input {
        font-size: 5.2vw;
        padding: 1px;
        height: 40px;
    }

    .voucher_info_input_div input::placeholder {
        font-size: 6.2vw;
    }

    .company_names_options_dropdown_class h3 {
        font-size: 6.5vw;
        margin: 3px;
        padding: 1px;
    }

    .submit_voucher_data_div button {
        font-size: 7.5vw;
    }

    #export_package_pdf_div_id button {
        font-size: 6vw;
    }

    #name_pdf_file_div span {
        font-size: 8vw;
    }
    
    #name_pdf_file_div input{
        font-size: 6vw;
    }
    
    #name_pdf_file_div button{
        font-size: 5.5vw;
        padding: 1px 3px;
    }






    /* Inserted pdf voucher data */
    #voucher_company_logo_div img{
        width: 44vw;
    }

    .voucher_details_title_div h5{
        font-size: 4vw;
        padding: 15px 0 10px 20px;
    }

    #voucher_booking_details_div{
        width: 90%;
        margin-bottom: 40px;
    }

    .booking_detail_div *{
        font-size: 4vw;
    }

    #voucher_customer_details_div{
        width: 75%;
    }

    #voucher_customer_details_div h5{
        font-size: 4vw;
    }

    #voucher_property_image_div img{
        width: 34vw;
    }
    
    #voucher_property_image_div h6{
        font-size: 4vw;
    }





    .search_bar_div_class {
        padding: 3px;
    }

    .search_bar_div_class input {
        font-size: 5vw;
        padding: 3px;
    }
}

/* 320px */
@media(max-width:320px) {

}